########################################
# Files
########################################
.DS_STORE
*.log

########################################
# Folders
########################################
dist/
node_modules/

########################################
# Compiled
########################################
