########################################
# Files
########################################
.DS_STORE
*.log

########################################
# Folders
########################################
node_modules/

########################################
# Compiled
########################################
