########################################################################
# File types
########################################################################
*.css
*.json
*.md
*.scss

########################################################################
# Folders
########################################################################
dist/
